<a href="https://colab.research.google.com/github/pingao2019/DS-Unit-2-Applied-Modeling/blob/master/PingH1Copy_of_H1Copy_of_LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

My dataset is from https://data.unicef.org/resources/data_explorer/unicef_f/?ag=UNICEF&df=GLOBAL_DATAFLOW&ver=1.0&dq=.MNCH_MLRDIAG+PV+CME_MRY0T4+DM_LIFE_EXP+DM_POP_TOT+IM_BCG+ECD_CHLD_U5_BKS-HM+NT_ANT_HAZ_NE2+NT_BF_CBF_12_15+WS_HCF_C-B..&startPeriod=2010&endPeriod=2020

In [134]:
import pandas as pd
df=pd.read_csv('DeathRateChildren.csv')
print(df.shape)
df.head()

(21402, 22)

                  Dataflow  ... Current Age
0  Cross-sector Indicators  ...       Total
1  Cross-sector Indicators  ...       Total
2  Cross-sector Indicators  ...       Total
3  Cross-sector Indicators  ...       Total
4  Cross-sector Indicators  ...       Total

[5 rows x 22 columns]

###My target is Indicator, and this data should be multi-class classification.

In [109]:
df.isnull().sum()

Dataflow                                                           0
Geographic Area                                                    0
Indicator                                                          0
Sex                                                                0
Time Period                                                        0
Observation Value                                                  0
Unit Multiplier                                                36611
Unit of Measure                                                    0
Observation Status                                                 0
Observation Confidentaility                                    36611
Lower Bound                                                        0
Upper Bound                                                        0
Weighted Sample Size                                           36611
Observation Footnote                                           36611
Series Footnote                                                36611
Data Source                                                    36611
Citation of or link to the data source                         36611
Custodian                                                      36611
Time period activity related to when the data are collected    36611
Reference Period                                               36611
The period of time for which data are provided                 36611
Current Age                                                        0
dtype: int64

In [82]:
df.columns.to_list()

['Dataflow',
 'Geographic Area',
 'Indicator',
 'Sex',
 'Time Period',
 'Observation Value',
 'Unit Multiplier',
 'Unit of Measure',
 'Observation Status',
 'Observation Confidentaility',
 'Lower Bound',
 'Upper Bound',
 'Weighted Sample Size',
 'Observation Footnote',
 'Series Footnote',
 'Data Source',
 'Citation of or link to the data source',
 'Custodian',
 'Time period activity related to when the data are collected',
 'Reference Period',
 'The period of time for which data are provided',
 'Current Age']

In [0]:
df= df.drop(columns=[
 'Dataflow',
 'Observation Value',
 'Unit Multiplier',

 'Observation Confidentaility',
 
 'Weighted Sample Size',
 'Observation Footnote',
 'Series Footnote',
 'Data Source',
 'Citation of or link to the data source',
 'Custodian',
 'Time period activity related to when the data are collected',
 'Reference Period',
 'The period of time for which data are provided'])

In [136]:
df.shape

(21402, 9)

In [112]:
df.columns.to_list()

['Geographic Area',
 'Indicator',
 'Sex',
 'Time Period',
 'Unit of Measure',
 'Observation Status',
 'Lower Bound',
 'Upper Bound',
 'Current Age']

In [87]:
df['Geographic Area'].unique()

array(['Afghanistan', 'Angola', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bolivia (Plurinational State of)', 'Brazil',
       'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Côte d'Ivoire", 'Cameroon',
       'Democratic Republic of the Congo', 'Congo', 'Cook Islands',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt', 'Eritrea',
       'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji', 'France',
       'Micronesia (Federated States of)', 'Gabon', 'United Kingdom',
       'Georgia', 'Ghana', 'Guinea', 'Gambia', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Guatemala', 'Guyana',
       'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'India',
       'Ireland', 'Iran (Islamic Republic of)', 'Iraq', 'Iceland',
       'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan',
       'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati',
       'Saint Kitts and Nevis', 'Republic of Korea', 'Kuwait',
       "Lao People's Democratic Republic", 'Lebanon', 'Liberia', 'Libya',
       'Saint Lucia', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg',
       'Latvia', 'Morocco', 'Monaco', 'Republic of Moldova', 'Madagascar',
       'Maldives', 'Mexico', 'Marshall Islands', 'North Macedonia',
       'Mali', 'Malta', 'Myanmar', 'Montenegro', 'Mongolia', 'Mozambique',
       'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia',
       'Niger', 'Nigeria', 'Nicaragua', 'Niue', 'Netherlands', 'Norway',
       'Nepal', 'Nauru', 'New Zealand', 'Oman', 'Pakistan', 'Panama',
       'Peru', 'Philippines', 'Palau', 'Papua New Guinea', 'Poland',
       "Democratic People's Republic of Korea", 'Portugal', 'Paraguay',
       'State of Palestine', 'Qatar', 'Romania', 'Russian Federation',
       'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore',
       'Solomon Islands', 'Sierra Leone', 'El Salvador', 'San Marino',
       'Somalia', 'Serbia', 'South Sudan', 'Sao Tome and Principe',
       'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Eswatini',
       'Seychelles', 'Syrian Arab Republic', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu',
       'United Republic of Tanzania', 'Uganda', 'Ukraine', 'Uruguay',
       'United States', 'Uzbekistan', 'Saint Vincent and the Grenadines',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Vanuatu',
       'Samoa', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [137]:
df['Sex'].unique()

array(['Total'], dtype=object)

In [89]:
df['Time Period'].unique()

array(['1980-06', '1981-06', '1982-06', '1983-06', '1984-06', '1985-06',
       '1986-06', '1987-06', '1988-06', '1989-06', '1990-06', '1991-06',
       '1992-06', '1993-06', '1994-06', '1995-06', '1996-06', '1997-06',
       '1998-06', '1999-06', '2000-06', '2001-06', '2002-06', '2003-06',
       '2004-06', '2005-06', '2006-06', '2007-06', '2008-06', '2009-06',
       '2010-06', '2011-06', '2012-06', '2013-06', '2014-06', '2015-06',
       '2016-06', '2017-06', '2018-06'], dtype=object)

In [90]:
df['Time Period'].value_counts()

1998-06    390
1987-06    390
2002-06    390
1999-06    390
1996-06    390
1991-06    390
2016-06    390
1997-06    390
2006-06    390
2004-06    390
2008-06    390
2015-06    390
1992-06    390
1994-06    390
1995-06    390
2010-06    390
2001-06    390
2011-06    390
2005-06    390
2014-06    390
1988-06    390
2018-06    390
2007-06    390
2009-06    390
1993-06    390
2000-06    390
2003-06    390
2012-06    390
1990-06    390
1986-06    390
2013-06    390
1989-06    390
1985-06    390
2017-06    390
1984-06    368
1983-06    360
1982-06    356
1981-06    350
1980-06    338
Name: Time Period, dtype: int64

In [91]:
df['Unit of Measure'].value_counts()

Deaths per 1000 live births    15032
Name: Unit of Measure, dtype: int64

In [138]:
df['Observation Status'].unique()

array(['Normal value'], dtype=object)

In [139]:
df['Lower Bound'].unique()

array([42352, 42109, 42144, ...,  3545,  3357,  3219])

In [140]:
df['Current Age'].unique()

array(['Total'], dtype=object)

In [0]:
#Current Age has not unique value. So drop it.
df=df.drop(columns='Current Age')

In [0]:
import numpy as np

In [141]:
df.describe()

        Lower Bound   Upper Bound
count  2.140200e+04  2.140200e+04
mean   1.324166e+04  1.646780e+04
std    6.954945e+04  7.904359e+04
min    0.000000e+00  0.000000e+00
25%    1.090000e+02  1.360000e+02
50%    8.570000e+02  1.219000e+03
75%    6.801250e+03  9.203750e+03
max    1.723333e+06  1.938550e+06

In [98]:
df['Upper Bound'].value_counts()

250.994305    1
10.921845     1
74.731769     1
37.278082     1
147.234488    1
             ..
81.537751     1
92.034423     1
34.309058     1
3.770153      1
86.347094     1
Name: Upper Bound, Length: 15032, dtype: int64

In [114]:
df['Indicator'].value_counts()

Under-five mortality rate      22550
Neonatal deaths                 7075
Deaths (children aged 5-14)     6986
Name: Indicator, dtype: int64

In [0]:
df=df.drop(columns = ['Unit of Measure', 'Observation Status','Sex'] )

In [0]:
df=df.drop(columns='Current Age')

In [190]:
df.shape

(21402, 5)

In [188]:
df.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['Geographic Area', 'Indicator', 'Time Period', 'Lower Bound',
       'Upper Bound', 'Current Age'],
      dtype='object')>

In [142]:
df.groupby('Sex')['Indicator'].value_counts()

Sex    Indicator
Total  Child deaths (aged 1-4 years)    7341
       Neonatal deaths                  7075
       Deaths (children aged 5-14)      6986
Name: Indicator, dtype: int64

In [143]:
df['Indicator'].value_counts(normalize=True).max()

0.34300532660499017

So the major class have between 0.5 -0.75 ratio.The classes is balanced.So I can just use accuracy.

### Lower bound and Upper Bound are numberic data. From following I will check whether they are outliers.  Do I need  exclude them?

In [102]:
!pip install category_encoders==2.*

Requirement already satisfied: category_encoders==2.* in /usr/local/lib/python3.6/dist-packages (2.1.0)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.25.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.22.1)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (1.17.5)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.5.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders==2.*) (0.10.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2.6.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders==2.*) (0.14.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders==2.*) (1.12.0)

In [0]:
y=df['Indicator']

In [0]:
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2)
#print (X_train.shape, y_train.shape)
#print (X_test.shape, y_test.shape)

In [0]:


X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.2, random_state=1)

X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)

In [194]:
print (X_train.shape, y_train.shape)
print (X_val.shape, y_val.shape)
print (X_test.shape, y_test.shape)

(13696, 5) (13696,)
(3425, 5) (3425,)
(4281, 5) (4281,)

In [0]:
%matplotlib inline
import category_encoders as ce
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier

In [195]:

pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    SimpleImputer(strategy='median'), 
    DecisionTreeClassifier(max_depth=3)
)
pipeline.fit(X_train,y_train)
print('Validation Accuracy:', pipeline.score(X_val,y_val))

Validation Accuracy: 1.0

### Too good to be true for Validation Accuracy =1.0.

In [0]:
import graphviz

In [197]:
# This score is too good to be true.
# Visualize the RandomeForestClassification to see what the model "learned"
target = 'Indicator'
features =X_train.columns.drop([target])
X_train =X_train[features]
y_train = y_train[target]
X_val = X_val[features]
y_val = y_val[target]

from sklearn.tree import export_graphviz

tree = pipeline.named_steps['decisiontreeclassifier']

dot_data = export_graphviz(
    tree, 
    out_file = None,
    feature_names=X_train.columns, 
    class_names=y_train.unique().astype(str), 
    filled=True, 
    impurity=True
)

graphviz.Source(dot_data)

KeyError: ignored